.contact-container {
    max-width: 1300px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.section-title h2:before {
    content: attr(data-heading);
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #fb839e;
}

input, textarea {
    outline: none;
}

.outer-shadow {
    box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
}

.inner-shadow {
    box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

.hover-in-shadow {
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover {
    box-shadow: 0px 0px 0px #d0d0d0, 0px 0px 0px  #f8f8f8;
}

.hover-in-shadow:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: all 0.3s ease;
    z-index: -1;
}

.hover-in-shadow:hover:after {
    box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

.btn-1 {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    transition: all .3s ease;
    display: inline-block;
    border: none;
    outline: none;
    margin: .5rem;
}

.btn-1:after {
    border-radius: 30px;
}

.contact-section {
    padding: 80px 0 80px;
}

.contact-section .contact-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
    /* flex-wrap: wrap; */
}

.contact-section .contact-item-inner {
    padding: 30px 15px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
}

.contact-section .contact-item-inner .contact-icons {
    font-size: 30px;
    color: #fb839e;
}

.contact-section .contact-item-inner span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0 10px;
    text-transform: capitalize;
}

.contact-section .contact-item-inner p {
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    word-break: break-word;
}

.contact-section .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 50px;
}

.contact-section .w-50 {
    padding: 0 15px;
    flex: 0 0 50%;
    max-width: 50%;
}

.contact-section .input-group {
    margin: 0 0 25px;
    transition: all .3s ease;
    border-radius: 30px;
}

.contact-section .input-group:after {
    border-radius: 30px;
}

.contact-section .input-group .input-control {
    height: 45px;
    display: block;
    width: 100%;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0 15px;
}

.contact-section .input-group textarea.input-control {
    height: 184px;
    padding-top: 15px;
    resize: none;
}

.contact-section .submit-btn {
    padding: 0 15px;
}

.contact-section .submit-btn button {
    color: #fb839e;
}

.map {
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive */

@media(max-width: 767px) {
    .contact-section .w-50,
    .contact-section .contact-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .contact-section .submit-btn{
        text-align: center;
    }

    .section {
        left: 0;
    }

    .map {
        margin: 5rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}